 <!--== Main Menu Start ==-->
<div class="col-lg-8 d-none d-xl-block">
    <nav class="mainmenu alignright">
        <ul>
            <li @*class="active"*@>
                <a href="http://localhost:50137/">ANASAYFA</a>
            </li>
            <li><a href="/Home/Companies">FİRMALAR</a></li>
            <li><a href="/Home/Contact">İLETİŞİM</a></li>
            @*<li><a href="#"></a></li>*@
            <li>
                <a href="#">GİRİŞ YAP</a>
                <ul>
                    <li><a href="/UserAccount/Login">KULLANICI GİRİŞ</a></li>
                    <li><a href="/AdminAccount/AdminLogin">FİRMA GİRİŞ</a></li>                   
                </ul>
            </li>
        </ul>
    </nav>
</div>
<!--== Main Menu End ==-->